.employee-card {
    display: flex;
    align-items: center;
    gap: 20px;
    border: solid 1px #ddd;
    cursor: pointer;
}

.employee-card:hover {
    border: solid 1px #a2a2a2;
    box-shadow: 0 0 6px #a2a2a2;
}

.employee-card img {
    height: 100px;
}