body {
    font-family: Arial, sans-serif;
}

.nav-container {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar-custom {
    background-color: #7393B3;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #7393b390;
    color: white;
}

h1 {
    color: #7393B3;
}

a {
    text-decoration: none;
    color: #7393B3;
}

.table-hover tbody tr:hover a {
    color: white;
}