@font-face {
    font-family: PapaSans-Regular;
    src: url('../assets/fonts/PapaSans-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: PapaSans-Italic;
    src: url('../assets/fonts/PapaSans-Italic.woff2');
    font-weight: 400;
}

@font-face {
    font-family: PapaSans-Bold;
    src: url('../assets/fonts/PapaSans-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: PapaSans-MediumCondensed;
    src: url('../assets/fonts/PapaSans-MediumCondensed.woff2');
    font-weight: 700;
}

@font-face {
    font-family: Pappy;
    src: url('../assets/fonts/Pappy-PJ.woff2');
    font-weight: 700;
}

@font-face {
    font-family: Helvetica;
    src: url('../assets/fonts/Helvetica.ttf');
}

:root {
    --color-white: #ffffff;
    --color-red: #E60000;
    --color-green-bright: #00a576;
    --color-green: #2d5d2a;
    --color-light: #d1d1d1;
    --color-gray-light: #f3f3f3;
    --color-btn-hover: #e6e6e6;
    --color-gray: #929292;
    --color-gray-dark: #333333;
    --color-black: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: PapaSans-Regular;
    font-size: 16px;
    line-height: 22px;
    background-color: var(--color-white);
    color: var(--color-black);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: unset;
}

.section__content {
    width: 100%;
    max-width: 1374px;
    padding: 50px 30px;
    margin: 0 auto;
}

.section-header {
    font-family: PapaSans-MediumCondensed;
    text-transform: uppercase;
    font-size: 38px;
    margin-bottom: 15px;
}

.icon {
    background-size: 25px auto;
    width: 25px;
    height: 25px;
    flex: 0 0 25px;
    background-repeat: no-repeat;
    background-position: center;
}


.button {
    font-family: PapaSans-MediumCondensed, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    padding: 8px 12px;
    transition: all 0.2s ease-out;
}

.button-green {
    color: var(--color-white);
    background-color: var(--color-green);
}

.button-white {
    color: var(--color-green);
    background-color: var(--color-white);
}

.button-green:hover {
    background-color: var(--color-gray-dark);
}

.button-white:hover {
    background-color: var(--color-btn-hover);
}

.button-round,
.button-round:hover {
    border-radius: 30px;
}

input {
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--color-gray);
}

input[type="text"] {
    font-family: Helvetica, Arial, sans-serif;
    padding: 5px 5px 5px 10px;
}

input[type="text"]:focus {
    border: 1px solid var(--color-green-bright);
    outline: none;
}

input::placeholder {
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
}

/* -------------------- Header -------------------- */

.header {
    width: 100%;
}

.header__top {
    border-bottom: 1px solid var(--color-light);
    width: 100%;
}

.header__top>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px 10px 20px;
}

.header__logo {
    width: 135px;
    margin-top: 5px;
}

.header__nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.header__top .header__nav-list {
    column-gap: 12px;
}

.top-nav-link {
    font-family: PapaSans-MediumCondensed, sans-serif;
    text-transform: uppercase;
    font-size: 20px;

    display: flex;
    align-items: center;
    column-gap: 8px;

    padding: 10px;
    border-radius: 6px;
    transition: background 0.2s ease-out;
}

.top-nav-link:hover {
    background: var(--color-btn-hover);
}

.top-nav-link:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

#signup-btn {
    border-radius: 30px;
}

#signup-btn:hover {
    background-color: var(--color-gray-dark);
}

.tracker {
    background-image: url(../assets/icons/tracker-icon.svg);
}

.globe {
    background-image: url(../assets/icons/globe-bold.svg);
}

.down-arrow {
    background-image: url(../assets/icons/down-arrow.svg);
    background-size: 14px auto;
    width: 14px;
}

.header__burger-btn {
    display: none;
}

.burger {
    background-image: url('../assets/icons/hamburger.svg');
    cursor: pointer;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    width: 100%;
}

.bottom-nav-link {
    display: inline-block;
    font-family: PapaSans-MediumCondensed, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    border-bottom: 4px solid transparent;
    padding: 24px 15px;
}

.bottom-nav-link:hover {
    border-bottom-color: var(--color-green);
}

.header__promo-cart {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.promo-code-form {
    display: flex;
    align-items: center;
    height: 74px;
    padding-right: 20px;
    border-right: 1px solid var(--color-light);
}

.promo-code-form input[type="text"] {
    width: 220px;
    min-width: 161px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.promo-code-form input[type="submit"] {
    font-size: 18px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 8px 12px;
}


.header__cart {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 5px;
}

.cart {
    background-image: url(../assets/icons/cart.svg);
}

.order-total {
    display: flex;
    align-items: flex-start;
    column-gap: 1px;
    font-family: PapaSans-MediumCondensed, sans-serif;
    font-size: 24px;
    color: var(--color-red);
    margin-right: 3px;
}

.order-total>span:first-child {
    font-size: 14px;
    line-height: 18px;
}

#login-btn {
    border-radius: 30px;
    display: none;
}

#login-btn:hover {
    background-color: var(--color-gray-dark);
}

/* -------------------- Main-------------------- */

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* -------------------- Hero Section-------------------- */

.home-hero {
    height: 515px;
    background-color: var(--color-green);
    overflow: hidden;
}

.home-hero__container {
    display: flex;
    column-gap: 95px;
    height: 100%;
}

.home-hero__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3px;
    padding: 110px 60px 0px;
    width: fit-content;
}

.hero-first-title {
    position: absolute;
    top: 120px;
    left: 45px;
    z-index: 2;
    font-family: Pappy;
    font-size: 135px;
    /* font-weight: 700; */
    letter-spacing: -5px;
    text-transform: uppercase;
    color: var(--color-red);
    -webkit-text-stroke: 3px var(--color-white);

}

.hero-second-title {
    font-family: PapaSans-MediumCondensed, sans-serif;
    text-transform: uppercase;
    font-size: 120px;
    font-weight: 500;
    color: #cfeb0c;
    padding-right: 40px;
}

.hero-subtitle {
    color: var(--color-white);
    text-align: center;
    font-family: PapaSans-MediumCondensed, sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 40px;
    margin-bottom: 125px;
}

.home-hero__content>div {
    display: flex;
    justify-content: space-between;
    width: 590px;
}

.hero-price {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.hero-price1 {
    font-family: PapaSans-MediumCondensed, sans-serif;
    font-size: 64px;
    color: var(--color-white);
    text-transform: uppercase;
}

.hero-price2 {
    font-family: Pappy;
    font-size: 84px;
    letter-spacing: -2px;
    color: var(--color-red);
    -webkit-text-stroke: 2px var(--color-white);
    padding-bottom: 5px;
}

.hero-btn {
    padding: 16px 24px;
    font-size: 24px;
}

.home-hero__img {
    flex: 0 0 100%;
    background-image: url('../assets/images/pizza-hero.webp');
    background-repeat: no-repeat;
    background-position: left 0px top -5px;
    height: 650px;
    background-size: contain;

}


/* -------------------- Deals Slider Section-------------------- */

.deals-slider {
    height: 450px;
    background-color: var(--color-white);
}

/* -------------------- Explore Our Menu Section-------------------- */

.explore-menu {
    height: 380px;
    background-color: var(--color-white);
}

/* -------------------- Most Popular Section-------------------- */

.popular {
    background-color: var(--color-white);
}

.pizza-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 20px;
    padding: 20px 0;
}

.pizza-card {
    width: 305px;
    border: 1px solid var(--color-gray);
    border-radius: 6px;
    overflow: hidden;
}

.pizza-card__img {
    width: 100%;
}

.pizza-card__content {
    position: relative;
    padding: 7px 15px 25px;
}

.pizza-card__title {
    font-family: PapaSans-Bold, sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
}

.pizza-card__details {
    position: absolute;
    top: 5px;
    right: 15px;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: PapaSans-MediumCondensed, sans-serif;
    font-size: 16px;
    transition: all 0.2ms ease-out;
}

.pizza-card__details:hover {
    color: var(--color-green);
}





/* -------------------- Footer -------------------- */

.footer {
    background-color: var(--color-white);
    border-top: 1px solid var(--color-light);
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1374px;
    padding: 40px 20px;
    margin: 0 auto;
}

.footer__copyright {
    font-size: 12px;
    color: #626262;
}

.footer__social-icons {
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.facebook {
    background-image: url('../assets/icons/fb_icon.svg');
    filter: invert(38%) sepia(0%) saturate(755%) hue-rotate(136deg) brightness(96%) contrast(87%);
}

.twitter {
    background-image: url('../assets/icons/x_twitter_icon.svg');
    filter: invert(38%) sepia(0%) saturate(755%) hue-rotate(136deg) brightness(96%) contrast(87%);
}

.youtube {
    background-image: url('../assets/icons/youtube_icon.svg');
    filter: invert(38%) sepia(0%) saturate(755%) hue-rotate(136deg) brightness(96%) contrast(87%);
}

.instagram {
    background-image: url('../assets/icons/instagram_icon.svg');
    filter: invert(38%) sepia(0%) saturate(755%) hue-rotate(136deg) brightness(96%) contrast(87%);
}


/* ---------- Styles for smaller screens ----------*/

/* ---------- max-width: 990px ---------- */

@media only screen and (max-width: 991px) {

    .header__top>div {
        padding: 10px;
    }

    .header__bottom {
        padding: 0 10px 0px 2px;
    }

    .header__burger-btn {
        display: block;
    }

    .header__top-nav li:first-child div:nth-child(2) {
        display: none;
    }

    .header__top-nav li:nth-child(3),
    .header__top-nav li:nth-child(4),
    .header__top-nav li:nth-child(5) {
        display: none;
    }

    .header__top .header__nav-list {
        column-gap: 8px;
    }

    .bottom-nav-link {
        font-size: 28px;
        padding: 18px 15px;
    }

    .promo-code-form {
        height: 62px;
    }
}

/* ---------- max-width: 830px ---------- */

@media only screen and (max-width: 831px) {

    .header__cart,
    .promo-code-form {
        display: none;
    }

    #login-btn {
        display: block;
    }


    .top-nav-link {
        padding: 10px 5px;
    }

    .bottom-nav-link {
        font-size: 22px;
        padding: 12px 8px 8px;
    }

}

/* ---------- max-width: 380px ---------- */

@media only screen and (max-width: 381px) {

    .header__top .header__nav-list {
        column-gap: 4px;
    }

    .top-nav-link {
        font-size: 18px;
    }

    .bottom-nav-link {
        font-size: 18px;
        padding: 10px 6px 6px;
    }

}