@font-face {
    font-family: PapaSans-Regular;
    src: url('../assets/fonts/PapaSans-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: PapaSans-Italic;
    src: url('../assets/fonts/PapaSans-Italic.woff2');
    font-weight: 400;
}

@font-face {
    font-family: PapaSans-Bold;
    src: url('../assets/fonts/PapaSans-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: PapaSans-MediumCondensed;
    src: url('../assets/fonts/PapaSans-MediumCondensed.woff2');
    font-weight: 700;
}

@font-face {
    font-family: Pappy;
    src: url('../assets/fonts/Pappy-PJ.woff2');
    font-weight: 700;
}

@font-face {
    font-family: Helvetica;
    src: url('../assets/fonts/Helvetica.ttf');
}

:root {
    --color-white: #ffffff;
    --color-red: #E60000;
    --color-green-bright: #00a576;
    --color-green: #2d5d2a;
    --color-light: #d1d1d1;
    --color-gray-light: #f3f3f3;
    --color-btn-hover: #e6e6e6;
    --color-gray: #929292;
    --color-gray-dark: #333333;
    --color-black: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: PapaSans-Regular;
    font-size: 16px;
    line-height: 22px;
    background-color: var(--color-white);
    color: var(--color-black);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: unset;
}

.section__content {
    width: 100%;
    max-width: 1374px;
    padding: 50px 30px;
    margin: 0 auto;
}

.section-header {
    font-family: PapaSans-MediumCondensed;
    text-transform: uppercase;
    font-size: 38px;
    margin-bottom: 15px;
}

.icon {
    background-size: 25px auto;
    width: 25px;
    height: 25px;
    flex: 0 0 25px;
    background-repeat: no-repeat;
    background-position: center;
}


.button {
    font-family: PapaSans-MediumCondensed, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    padding: 8px 12px;
    transition: all 0.2s ease-out;
}

.button-green {
    color: var(--color-white);
    background-color: var(--color-green);
}

.button-white {
    color: var(--color-green);
    background-color: var(--color-white);
}

.button-green:hover {
    background-color: var(--color-gray-dark);
}

.button-white:hover {
    background-color: var(--color-btn-hover);
}

.button-round,
.button-round:hover {
    border-radius: 30px;
}

.button:disabled {
    background-color: var(--color-btn-hover);
    color: var(--color-gray);
}

input,
select {
    height: 40px;
    border-radius: 6px;
    border: 1px solid var(--color-gray);
}

input[type="text"] {
    font-family: Helvetica, Arial, sans-serif;
    padding: 5px 5px 5px 10px;
}

input[type="text"]:focus,
select:focus {
    border: 1px solid var(--color-green-bright);
    outline: none;
}

input::placeholder {
    font-family: Helvetica, Arial, sans-serif;
    font-style: italic;
}

/* -------------------- Header -------------------- */

.header {
    width: 100%;
}

.header__top {
    border-bottom: 1px solid var(--color-light);
    width: 100%;
}

.header__top>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px 10px 20px;
}

.header__logo {
    width: 135px;
    margin-top: 5px;
}

.header__nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.header__top .header__nav-list {
    column-gap: 12px;
}

.top-nav-link {
    font-family: PapaSans-MediumCondensed, sans-serif;
    text-transform: uppercase;
    font-size: 20px;

    display: flex;
    align-items: center;
    column-gap: 8px;

    padding: 10px;
    border-radius: 6px;
    transition: background 0.2s ease-out;
}

.top-nav-link:hover {
    background: var(--color-btn-hover);
}

.top-nav-link:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

#signup-btn {
    border-radius: 30px;
}

#signup-btn:hover {
    background-color: var(--color-gray-dark);
}

.tracker {
    background-image: url(../assets/icons/tracker-icon.svg);
}

.globe {
    background-image: url(../assets/icons/globe-bold.svg);
}

.down-arrow {
    background-image: url(../assets/icons/down-arrow.svg);
    background-size: 14px auto;
    width: 14px;
}

.header__burger-btn {
    display: none;
}

.burger {
    background-image: url('../assets/icons/hamburger.svg');
    cursor: pointer;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    width: 100%;
}

.bottom-nav-link {
    display: inline-block;
    font-family: PapaSans-MediumCondensed, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    border-bottom: 4px solid transparent;
    padding: 24px 15px;
}

.bottom-nav-link:hover {
    border-bottom-color: var(--color-green);
}

.header__promo-cart {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.promo-code-form {
    display: flex;
    align-items: center;
    height: 74px;
    padding-right: 20px;
    border-right: 1px solid var(--color-light);
}

.promo-code-form input[type="text"] {
    width: 220px;
    min-width: 161px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.promo-code-form input[type="submit"] {
    font-size: 18px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 8px 12px;
}

.header__cart {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 0 5px;
}

.cart {
    background-image: url(../assets/icons/cart.svg);
}

.order-total {
    display: flex;
    align-items: flex-start;
    column-gap: 1px;
    font-family: PapaSans-MediumCondensed, sans-serif;
    font-size: 24px;
    color: var(--color-red);
    margin-right: 3px;
}

.order-total>span:first-child {
    font-size: 14px;
    line-height: 18px;
}

#login-btn {
    border-radius: 30px;
    display: none;
}

#login-btn:hover {
    background-color: var(--color-gray-dark);
}

/* -------------------- Main-------------------- */

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* -------------------- Hero Section-------------------- */

.home-hero {
    height: 515px;
    background-color: var(--color-green);
    overflow: hidden;
}

.home-hero__container {
    display: flex;
    column-gap: 95px;
    height: 100%;
}

.home-hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3px;
    padding: 120px 85px 0px 45px;
    width: fit-content;
}

.hero-first-title {
    z-index: 2;
    font-family: Pappy;
    font-size: 135px;
    /* font-weight: 700; */
    letter-spacing: -5px;
    text-transform: uppercase;
    color: var(--color-red);
    -webkit-text-stroke: 3px var(--color-white);
}

.hero-second-title {
    font-family: PapaSans-MediumCondensed, sans-serif;
    text-transform: uppercase;
    font-size: 120px;
    font-weight: 500;
    color: #cfeb0c;
    margin: 45px 0 80px;
}

.hero-subtitle {
    color: var(--color-white);
    text-align: center;
    font-family: PapaSans-MediumCondensed, sans-serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 125px;
}

.home-hero__content>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero-price {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.hero-price1 {
    font-family: PapaSans-MediumCondensed, sans-serif;
    font-size: 64px;
    color: var(--color-white);
    text-transform: uppercase;
}

.hero-price2 {
    font-family: Pappy;
    font-size: 84px;
    letter-spacing: -2px;
    color: var(--color-red);
    -webkit-text-stroke: 2px var(--color-white);
    padding-bottom: 5px;
}

.hero-btn {
    padding: 16px 24px;
    font-size: 24px;
}

.home-hero__img {
    flex: 0 0 100%;
    background-image: url('../assets/images/pizza-hero.webp');
    background-repeat: no-repeat;
    background-position: left 0px top -5px;
    height: 650px;
    background-size: contain;
}

/* -------------------- Deals Slider Section-------------------- */

.deals-slider {
    height: 450px;
    background-color: var(--color-white);
}

/* -------------------- Explore Our Menu Section-------------------- */

.explore-menu {
    height: 380px;
    background-color: var(--color-white);
}

/* -------------------- Most Popular Section-------------------- */

.popular {
    background-color: var(--color-white);
}

.pizza-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* column-gap: 30px; */
    row-gap: 20px;
    padding: 20px 0;
    margin: 0 auto;
}

.pizza-card {
    flex: 0 0 23.3%;
    max-width: 23.3%;
    border: 1px solid var(--color-gray);
    border-radius: 6px;
    overflow: hidden;
}

.pizza-card__img {
    width: 100%;
}

.pizza-card__content {
    position: relative;
    padding: 7px 15px 25px;
}

.pizza-card__title {
    font-family: PapaSans-Bold, sans-serif;
    font-size: 18px;
    margin-bottom: 25px;
}

.pizza-card__details {
    position: absolute;
    top: 5px;
    right: 15px;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: PapaSans-MediumCondensed, sans-serif;
    font-size: 16px;
    transition: all 0.2ms ease-out;
}

.pizza-card__details:hover {
    color: var(--color-green);
}

/* -------------------- Checkout Section-------------------- */

.checkout {
    /* background: linear-gradient(var(--color-light) 3px, var(--color-white) 1%, white, white 30%); */
    background: rgb(209, 209, 209);
    background: linear-gradient(180deg, rgba(220, 220, 220, 1) 0%, rgba(245, 245, 245, 1) 2%, rgba(255, 255, 255, 1) 50%);
    /* height: 1500px; */
}

.checkout__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    height: 100%;
    padding: 60px;
}

.checkout__title {
    font-family: PapaSans-MediumCondensed, sans-serif;
    text-transform: uppercase;
    font-size: 48px;
    line-height: normal;
    text-align: center;
}

.order-type-container {
    display: flex;
    column-gap: 50px;
}

.order-type-container .radio-button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    font-size: 24px;
    width: 250px;
    height: 118px;
    border-radius: 10px;
    border: solid 2px var(--color-black);
}

.order-type-container input[type="radio"] {
    display: none;
}

.order-type-container input[type="radio"]:checked+.radio-button {
    background-color: var(--color-green);
    color: var(--color-white);
    border: solid 2px var(--color-green);
}

.order-type-container .icon {
    background-size: 65px auto;
    width: 65px;
    height: 65px;
    flex: 0 0 65px;
}

.delivery {
    background-image: url('../assets/icons/delivery.svg');
}

.carryout {
    background-image: url('../assets/icons/carryout.svg');
}

.order-type-container input[type="radio"]:checked+.radio-button .delivery {
    background-image: url('../assets/icons/delivery-white.svg');
}

.order-type-container input[type="radio"]:checked+.radio-button .carryout {
    background-image: url('../assets/icons/carryout-white.svg');
}

.checkout__content p,
.checkout__form label {
    font-family: PapaSans, sans-serif;
    font-size: 14px;
    line-height: 17px;
}

.checkout__form {
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-field {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.form-field.street-field,
.form-field.zip-code-field {
    width: 100%;
}

.checkout__form select {
    padding: 0 30px 0 15px;
}

.checkout__form input,
.checkout__form select {
    height: 50px;
    box-shadow: inset 0px 2px 4px -1px rgba(98, 98, 98, 0.2);
}

.checkout__form input:focus,
.checkout__form select:focus {
    box-shadow: 0px 0px 5px 0px rgba(98, 98, 98, 0.75);
}

#address-type {
    width: 210px;
}

#country {
    width: 140px;
}

#apt-ste-floor {
    width: 110px;
}

#asf-value {
    width: 235px;
}

.checkout__form input[type="submit"] {
    padding: 20px 30px 45px;
    font-size: 24px;
    line-height: 24px;
    border: none;
}

/* -------------------- Footer -------------------- */

.footer {
    background-color: var(--color-white);
    border-top: 1px solid var(--color-light);
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1374px;
    padding: 40px 20px;
    margin: 0 auto;
}

.footer__copyright {
    font-size: 12px;
    color: #626262;
}

.footer__social-icons {
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.facebook {
    background-image: url('../assets/icons/fb_icon.svg');
    filter: invert(38%) sepia(0%) saturate(755%) hue-rotate(136deg) brightness(96%) contrast(87%);
}

.twitter {
    background-image: url('../assets/icons/x_twitter_icon.svg');
    filter: invert(38%) sepia(0%) saturate(755%) hue-rotate(136deg) brightness(96%) contrast(87%);
}

.youtube {
    background-image: url('../assets/icons/youtube_icon.svg');
    filter: invert(38%) sepia(0%) saturate(755%) hue-rotate(136deg) brightness(96%) contrast(87%);
}

.instagram {
    background-image: url('../assets/icons/instagram_icon.svg');
    filter: invert(38%) sepia(0%) saturate(755%) hue-rotate(136deg) brightness(96%) contrast(87%);
}


/* ---------- max-width: 1500px ---------- */

@media only screen and (max-width: 1500px) {

    .pizza-card {
        flex: 0 0 32%;
        max-width: 32%;
    }
}

/* ---------- max-width: 1100px ---------- */

@media only screen and (max-width: 1101px) {

    .home-hero__container {
        column-gap: 50px;
    }

    .hero-first-title {
        font-size: 100px;
    }

    .hero-second-title {
        font-size: 88px;
        margin: 25px 0 50px;
    }

    .hero-subtitle {
        font-size: 26px;
        margin-bottom: 180px;
    }

    .hero-price1 {
        font-size: 42px;
    }

    .hero-price2 {
        font-size: 54px;
        padding-bottom: 5px;
    }

    .hero-btn {
        padding: 12px 16px;
        font-size: 18px;
    }

}

/* ---------- max-width: 990px ---------- */

@media only screen and (max-width: 991px) {

    .header__top>div {
        padding: 10px;
    }

    .header__bottom {
        padding: 0 10px 0px 2px;
    }

    .header__burger-btn {
        display: block;
    }

    .header__top-nav li:first-child div:nth-child(2) {
        display: none;
    }

    .header__top-nav li:nth-child(3),
    .header__top-nav li:nth-child(4),
    .header__top-nav li:nth-child(5) {
        display: none;
    }

    .header__top .header__nav-list {
        column-gap: 8px;
    }

    .bottom-nav-link {
        font-size: 28px;
        padding: 18px 15px;
    }

    .promo-code-form {
        height: 62px;
    }

    .home-hero {
        height: 450px;
    }

    .home-hero__container {
        column-gap: 30px;
    }

    .hero-subtitle {
        font-size: 26px;
        margin-bottom: 120px;
    }

    .pizza-card {
        flex: 0 0 48%;
        max-width: 48%;
    }
}

/* ---------- max-width: 830px ---------- */

@media only screen and (max-width: 831px) {

    .header__cart,
    .promo-code-form {
        display: none;
    }

    #login-btn {
        display: block;
    }

    .top-nav-link {
        padding: 10px 5px;
    }

    .bottom-nav-link {
        font-size: 22px;
        padding: 12px 8px 8px;
    }

    .home-hero__content {
        padding: 110px 30px 0;
    }

    .home-hero__container {
        column-gap: 0px;
    }

    .home-hero__img {
        background-position: left 0px top 30px;
        height: 500px;
    }

}

/* ---------- max-width: 720px ---------- */

@media only screen and (max-width: 721px) {

    .home-hero__container {
        flex-direction: column-reverse;
        height: 100%;
    }

    .home-hero__img {
        background-image: url('../assets/images/mobile-pizza-hero.webp');
        background-position: bottom 0px center;
    }

    .home-hero__content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3px;
        width: 100%;
        padding: 0 30px 20px;
    }

    .hero-first-title {
        margin-bottom: 15px;
        letter-spacing: -3px;
    }

    .hero-second-title {
        margin: 10px 0 50px;
    }

    .hero-subtitle {
        margin-bottom: 30px;
    }

    .pizza-cards-container {
        flex-direction: column;
    }

    .pizza-card {
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        padding: 20px 0px;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid var(--color-light);
    }

    .pizza-card__img {
        height: 130px;
        width: auto;
    }

    .pizza-card__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5px 0px 0px 20px;
        height: 130px;
    }

    .pizza-card__details {
        position: absolute;
        top: 50px;
        left: 20px;
    }

    .checkout__content {
        padding: 40px;
    }

    .footer__content {
        flex-direction: column-reverse;
        row-gap: 20px;
    }

}

/* ---------- max-width: 620px ---------- */

@media only screen and (max-width: 621px) {

    .order-type-container {
        column-gap: 30px;
    }

    .order-type-container .radio-button {
        column-gap: 30px;
        font-size: 22px;
        width: 200px;
        height: 90px;
    }

    .order-type-container .icon {
        background-size: 55px auto;
        width: 55px;
        height: 55px;
        flex: 0 0 55px;
    }
}

/* ---------- max-width: 480px ---------- */

@media only screen and (max-width: 481px) {

    .hero-first-title {
        font-size: 70px;
        letter-spacing: -1px;
    }

    .hero-second-title {
        font-size: 63px;
        margin: 0px 0 30px;
    }

    .hero-subtitle {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .hero-price1 {
        font-size: 35px;
    }

    .hero-price2 {
        font-size: 42px;
        padding-bottom: 2px;
    }

    .hero-btn {
        padding: 8px 12px;
        font-size: 16px;
    }

    .checkout__content {
        padding: 20px 15px;
    }

    .order-type-container {
        column-gap: 15px;
    }

    .order-type-container .radio-button {
        column-gap: 15px;
        font-size: 22px;
        width: 160px;
        height: 80px;
    }

    .order-type-container .icon {
        background-size: 42px auto;
        width: 42px;
        height: 42px;
        flex: 0 0 42px;
    }

    #address-type {
        width: 200px;
    }

    #country {
        width: 120px;
    }

    #asf-value {
        width: 215px;
    }

}

/* ---------- max-width: 410px ---------- */

@media only screen and (max-width: 411px) {

    .home-hero__img {
        background-position: center 190px;
    }

}

/* ---------- max-width: 380px ---------- */

@media only screen and (max-width: 381px) {

    .header__top .header__nav-list {
        column-gap: 4px;
    }

    .top-nav-link {
        font-size: 18px;
    }

    .bottom-nav-link {
        font-size: 18px;
        padding: 10px 6px 6px;
    }

    #address-type {
        width: 190px;
    }

    #country {
        width: 110px;
    }

    #asf-value {
        width: 190px;
    }

}