@font-face {
    font-family: PapaSans-Regular;
    src: url('../assets/fonts/PapaSans-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: PapaSans-Italic;
    src: url('../assets/fonts/PapaSans-Italic.woff2');
    font-weight: 400;
}

@font-face {
    font-family: PapaSans-Bold;
    src: url('../assets/fonts/PapaSans-Bold.woff2');
    font-weight: 700;
}

@font-face {
    font-family: PapaSans-MediumCondensed;
    src: url('../assets/fonts/PapaSans-MediumCondensed.woff2');
    font-weight: 700;
}

:root {
    --color-white: #ffffff;
    --color-red: #E60000;
    --color-green: #2d5d2a;
    --color-light: #d1d1d1;
    --color-gray-light: #f3f3f3;
    --color-gray: #333333;
    --color-black: #000000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: PapaSans-Regular;
    font-size: 16px;
    line-height: 22px;
    background-color: var(--color-white);
    color: var(--color-black);
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
}

h1 {
    font-family: PapaSans-MediumCondensed;
    text-transform: uppercase;
    font-size: 30px;
}

.icon {
    background-size: 25px auto;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.button-green {
    color: var(--color-white);
    background-color: var(--color-green);
}


.button-green:hover {
    background-color: var(--color-gray);
}

.button-round,
.button-round:hover {
    border-radius: 30px;
}

/* -------------------- Header -------------------- */

.header {
    width: 100%;
}

.header__top {
    border-bottom: 1px solid var(--color-light);
    width: 100%;
}

.header__top>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px 20px 20px;
    height: 65px;
}

.header__logo {
    width: 135px;
    margin-top: 5px;
}

.header__nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.header__top .header__nav-list {
    column-gap: 12px;
}

.top-nav-link {
    font-family: PapaSans-MediumCondensed, sans-serif;
    text-transform: uppercase;
    font-size: 20px;

    display: flex;
    align-items: center;
    column-gap: 8px;

    padding: 10px;
    border-radius: 6px;
    transition: background 0.2s ease-out;
}

.top-nav-link:hover {
    background: #e6e6e6;
}

.top-nav-link:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

#signup-btn {
    border-radius: 30px;
}

#signup-btn:hover {
    background-color: var(--color-gray);
}

.tracker {
    background-image: url(../assets/icons/tracker-icon.svg);
}

.globe {
    background-image: url(../assets/icons/globe-bold.svg);
}

.down-arrow {
    background-image: url(../assets/icons/down-arrow-1.svg);
    background-size: 14px auto;
    width: 14px;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    width: 100%;
}

.bottom-nav-link {
    font-family: PapaSans-MediumCondensed, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    border-bottom: 4px solid transparent;
}

.bottom-nav-link:hover {
    border-bottom-color: var(--color-green);
}

.bottom-nav-link>a {
    display: inline-block;
    padding: 24px 15px;
}

/* -------------------- Hero Section-------------------- */

.hero {
    height: 1400px;
    background-color: var(--color-green);
}


/* -------------------- Footer -------------------- */


/* ---------- Styles for smaller screens ----------*/