@font-face {
    font-family: 'Matemasie';
    src: url('./assets/Matemasie-Regular.ttf');
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, rgb(146, 201, 246) 74%);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Matemasie';
    text-shadow: 2px 2px #ffffff;
}

h1 {
    font-size: 3rem;
}

